<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148257066274-o3u4t9tgear8ugn35ofk98i4ikbmol08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148257066274-o3u4t9tgear8ugn35ofk98i4ikbmol08</string>
	<key>API_KEY</key>
	<string>AIzaSyBEK23c0hgEhhckwdiWgVVrM7v23vJe2e4</string>
	<key>GCM_SENDER_ID</key>
	<string>148257066274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthyDelivery</string>
	<key>PROJECT_ID</key>
	<string>flutter-healthy-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-healthy-delivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148257066274:ios:16495dd9899f2ed789a97b</string>
</dict>
</plist>